include mixins/group
include main

body
  include nav
  h1 Group Results
  h3 Group A
  +group(groups[1])
  h3 Group B
  +group(groups[2])
  h3 Group C
  +group(groups[3])
  h3 Group D
  +group(groups[4])
  h3 Group E
  +group(groups[5])
  h3 Group F
  +group(groups[6])
  h3 Group G
  +group(groups[7])
  h3 Group H
  +group(groups[8])
